<div class="jumbotron mt-4">
    <h1 class="display-4">Notes Apps with NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore itaque atque 
        dolorem laborum ipsa sint nobis provident velit! Officiis rerum adipisci aut 
        iste debitis consectetur similique non? Debitis, facilis dolores.</p>
</div>